/* Inicio de Index */
.headerrpa{
    background-image: url('../../../apps/img/fondo.jpg');
    background-size: cover;
    height: 630px;
    position: relative;
    @include celular{
        height: 620px;
    }
    &__container{
        @include desktop-large{
            padding: 0 2rem;
        }
        @include desktop-xlarge{
            padding: 0 8rem;
        }
    }
    &__containertext{
        color: white;
        padding-top: 12rem;
        padding-left: 2rem;
        padding-right: 2rem;
        position: relative;
        text-align: center;
        z-index: 500;
        @include celular{
            padding-top: 14rem;
            padding-left: 4rem;
            padding-right: 4rem;
        }
        @include tablet{
            padding-top: 16rem;
        }
    }
    &__text{
        padding: 0;
        @include font-size(3.3rem);
        &--color{
            color: $colorprincipal;
        }
        &--size{
            @include font-size(.7rem);
            @include celular{
                @include font-size(.9rem);
            }
            @include desktop-large{
                @include font-size(1.1rem);
            }
        }
    }
    &::before{
        content: "";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,.5);
    }
}
.menu{
    padding: 1.5rem 1rem;
    @include desktop-large{
        padding: 0;
    }
    &__item{
        width: 40%;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, white, #f2f2f2, $colorprincipal);
            z-index: 1;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s ease-in-out;
        }
        &:hover::before{
            transform: scaleX(1);
        }
        @include celular{
            width: 30%;
        }
        @include tablet{
            width: 20%;
        }
        @include desktop{
            width: 100%;
        }
        @include desktop-large{
            font-size: 1.1rem;
        }
        @include desktop-xxlarge{
            font-size: 1.3rem;
        }
        &--color{
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: linear-gradient(to right, $colorprincipal, $colorprincipal, $colorprincipal);
                z-index: 1;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.5s ease-in-out;
            }
            &:hover::before{
                transform: scaleX(1);
            }
        }
    }
    &__link{
        padding-right: 15%;
        @include celular{
            padding-right: 25%;
        }
        @include tablet{
            padding-right: 30%;
        }
        @include desktop{
            padding-right: 0;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
    &__logo{
        height: 100px;
        @include celular{
            height: 120px;
        }
        @include tablet{
            height: 130px;
        }
        @include desktop{
            height: 90px;
        }
        @include desktop-large{
            height: 110px;
        }
        @include desktop-xlarge{
            height: 120px;
        }
    }
    &__container{
        padding: 0;
    }
    &--color{
        background-color: $colorprincipal;
    }
    &--des{
        background-color: $colorprincipal;
        transition-property: background-color;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    }
    &--tra{
        background-color: transparent;
        transition-property: background-color;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    }
}
.social{
    &__link{
        color: white;
        &:hover{
            color: $colorprincipal;
        }
        &--size{
            font-size: 2.3rem;
            margin: 0 .2rem;
        }
        &--desktop{
            padding-right: .5rem;
            &:last-child{
                padding-right: 0;
            }
            @include desktop{
                font-size: 1.1rem;
            }
            @include desktop-large{
                font-size: 1.25rem;
            }
            @include desktop-xlarge{
                font-size: 1.4rem;
            }
            @include desktop-xxlarge{
                font-size: 1.6rem;
            }
        }
    }
    &__container{
        display: inherit;
        justify-content: center;
        width: 100%;

    }
    &--movil{
        padding: .5rem 0;
        position: relative;
        text-align: center;
        z-index: 100;
    }
    &--desktop{
        align-items: center;
    }
}
.banner{
    background-color: $colorprincipal;
    border-radius: .5rem;
    bottom: -16%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    left: 10%;
    padding: 1rem;
    position: absolute;
    z-index: 100;
    width: 80%;
    @include celular{
        bottom: -14%;
    }
    @include tablet{
        bottom: -13%;
    }
    @include desktop{
        bottom: -11%;
        left: 5%;
        padding: 2.5rem;
        width: 90%;
    }
    @include desktop-large{
        bottom: -12%;
        padding: 2.5rem;
    }
    @include desktop-xlarge{
        bottom: -14%;
        padding: 3rem;
    }
    @include desktop-xxlarge{
        bottom: -13.5%;
        padding: 3.5rem;
    }
    &__container{
        display: flex;
        margin-bottom: 1rem;
        &:last-child{
            margin-bottom: 0;
        }
        @include desktop{
            width: 33%;
            margin-bottom: 0;
        }
    }
    &__icon{
        align-items: center;
        display: inherit;
        font-size: 1.5rem;
        margin-right: 1rem;
        @include desktop{
            font-size: 2rem;
        }
        @include desktop-large{
            font-size: 2.2rem;
        }
        @include desktop-xlarge{
            font-size: 2.4rem;
        }
    }
    &__text{
        @include font-size(.8rem);
        margin-bottom: 0;
        @include desktop{
            display: inherit;
            align-items: center;
        }
        @include desktop-large{
            @include font-size(1rem);
            display: inherit;
            align-items: center;
        }
        @include desktop-xlarge{
            @include font-size(1.2rem);
            display: inherit;
            align-items: center;
        }
    }
}

/* Fin de Index */