//Colores

$colorprincipal: #D42C30;
$colorprincipaloscuro: #9B070B;
$colorsecundario: #EAEAEA;
$colorsecundariooscuro: #ababab;
$colorsecundarioclaro: #f7f7f7;
$coloractualidad: #FFB000;

//SeccionEspecialidades

$altback: 95px;
$imgespec: 93px;

//SeccionEquipo
$altbodycard: 230px;

//SeccionContacto
$altprincipal: 520px;

//SeccionDetallePublicaciones
$altimgauthor: 228px;
