/* Inicio de Index */
.headerrpa {
  background-image: url("../../../apps/img/fondo.jpg");
  background-size: cover;
  height: 630px;
  position: relative;
}
@media only screen and (min-width: 576px) {
  .headerrpa {
    height: 620px;
  }
}
@media only screen and (min-width: 1200px) {
  .headerrpa__container {
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 1400px) {
  .headerrpa__container {
    padding: 0 8rem;
  }
}
.headerrpa__containertext {
  color: white;
  padding-top: 12rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  text-align: center;
  z-index: 500;
}
@media only screen and (min-width: 576px) {
  .headerrpa__containertext {
    padding-top: 14rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .headerrpa__containertext {
    padding-top: 16rem;
  }
}
.headerrpa__text {
  padding: 0;
  font-size: calc(1.455rem + 2.46vw);
}
@media (min-width: 1200px) {
  .headerrpa__text {
    font-size: 3.3rem;
  }
}
.headerrpa__text--color {
  color: #D42C30;
}
.headerrpa__text--size {
  font-size: 0.7rem;
}
@media only screen and (min-width: 576px) {
  .headerrpa__text--size {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 1200px) {
  .headerrpa__text--size {
    font-size: 1.1rem;
  }
}
.headerrpa::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.menu {
  padding: 1.5rem 1rem;
}
@media only screen and (min-width: 1200px) {
  .menu {
    padding: 0;
  }
}
.menu__item {
  width: 40%;
  position: relative;
}
.menu__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, white, #f2f2f2, #D42C30);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
.menu__item:hover::before {
  transform: scaleX(1);
}
@media only screen and (min-width: 576px) {
  .menu__item {
    width: 30%;
  }
}
@media only screen and (min-width: 768px) {
  .menu__item {
    width: 20%;
  }
}
@media only screen and (min-width: 992px) {
  .menu__item {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .menu__item {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 1800px) {
  .menu__item {
    font-size: 1.3rem;
  }
}
.menu__item--color::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #D42C30, #D42C30, #D42C30);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
.menu__item--color:hover::before {
  transform: scaleX(1);
}
.menu__link {
  padding-right: 15%;
}
@media only screen and (min-width: 576px) {
  .menu__link {
    padding-right: 25%;
  }
}
@media only screen and (min-width: 768px) {
  .menu__link {
    padding-right: 30%;
  }
}
@media only screen and (min-width: 992px) {
  .menu__link {
    padding-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.menu__logo {
  height: 100px;
}
@media only screen and (min-width: 576px) {
  .menu__logo {
    height: 120px;
  }
}
@media only screen and (min-width: 768px) {
  .menu__logo {
    height: 130px;
  }
}
@media only screen and (min-width: 992px) {
  .menu__logo {
    height: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  .menu__logo {
    height: 110px;
  }
}
@media only screen and (min-width: 1400px) {
  .menu__logo {
    height: 120px;
  }
}
.menu__container {
  padding: 0;
}
.menu--color {
  background-color: #D42C30;
}
.menu--des {
  background-color: #D42C30;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.menu--tra {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.social__link {
  color: white;
}
.social__link:hover {
  color: #D42C30;
}
.social__link--size {
  font-size: 2.3rem;
  margin: 0 0.2rem;
}
.social__link--desktop {
  padding-right: 0.5rem;
}
.social__link--desktop:last-child {
  padding-right: 0;
}
@media only screen and (min-width: 992px) {
  .social__link--desktop {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .social__link--desktop {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1400px) {
  .social__link--desktop {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1800px) {
  .social__link--desktop {
    font-size: 1.6rem;
  }
}
.social__container {
  display: inherit;
  justify-content: center;
  width: 100%;
}
.social--movil {
  padding: 0.5rem 0;
  position: relative;
  text-align: center;
  z-index: 100;
}
.social--desktop {
  align-items: center;
}

.banner {
  background-color: #D42C30;
  border-radius: 0.5rem;
  bottom: -16%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  left: 10%;
  padding: 1rem;
  position: absolute;
  z-index: 100;
  width: 80%;
}
@media only screen and (min-width: 576px) {
  .banner {
    bottom: -14%;
  }
}
@media only screen and (min-width: 768px) {
  .banner {
    bottom: -13%;
  }
}
@media only screen and (min-width: 992px) {
  .banner {
    bottom: -11%;
    left: 5%;
    padding: 2.5rem;
    width: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  .banner {
    bottom: -12%;
    padding: 2.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .banner {
    bottom: -14%;
    padding: 3rem;
  }
}
@media only screen and (min-width: 1800px) {
  .banner {
    bottom: -13.5%;
    padding: 3.5rem;
  }
}
.banner__container {
  display: flex;
  margin-bottom: 1rem;
}
.banner__container:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) {
  .banner__container {
    width: 33%;
    margin-bottom: 0;
  }
}
.banner__icon {
  align-items: center;
  display: inherit;
  font-size: 1.5rem;
  margin-right: 1rem;
}
@media only screen and (min-width: 992px) {
  .banner__icon {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .banner__icon {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 1400px) {
  .banner__icon {
    font-size: 2.4rem;
  }
}
.banner__text {
  font-size: 0.8rem;
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) {
  .banner__text {
    display: inherit;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .banner__text {
    font-size: 1rem;
    display: inherit;
    align-items: center;
  }
}
@media only screen and (min-width: 1400px) {
  .banner__text {
    font-size: 1.2rem;
    display: inherit;
    align-items: center;
  }
}

/* Fin de Index */
.inicio {
  margin-top: 10rem;
}

/*# sourceMappingURL=rpa.css.map */
